<footer id="myFooter">
    <div class="second-bar">
        <div class="container">
            <h2 class="logo">
                <a href="/">
                    <kbd class="logos">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </kbd> Ei-Ji Games Shopping
                </a>
            </h2>
            <div class="social-icons">
                <a href="https://github.com/jirayuch01/" target="_blank" class="twitter">
                    <i class="fa fa-github-alt"></i>
                </a>
                <a href="https://web.facebook.com/JIch01beer/" target="_blank" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
            <iframe id="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.002871464434!2d98.34988941267238!3d7.894767007898271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3050303528303419%3A0x43ed556e96eb7eb8!2sFaculty+of+Technology+and+Environment!5e0!3m2!1sen!2sth!4v1508085336951"
                width="1200" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="footer-copyright">
        <p style="color: white;" class="m-0 text-center text-white">
            &copy; 2017 Copyright Ei-Ji Games Shopping Developed by
            <a style="color: aqua;" href="https://web.facebook.com/JIch01beer" target="_blank">
                <b>Jirayu Chinnawong
                    <b>
            </a>
        </p>
    </div>
</footer>