<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <center>
            <h1>
                <kbd class="logos">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </kbd> My Profile</h1>
        </center>
        <hr class="style5">
        <h2>
            <kbd class="logos">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </kbd> My Orders list
        </h2>

        <div class="panel panel-default">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body">
                <ul class="list-group">

                    <li class="list-group-item">
                        <span class="badge">555</span>
                        Game | 2 pieces
                    </li>

                </ul>
            </div>
            <div class="panel-footer">
                <strong>Total Price:
                    <span class="label label-danger">5555</span> bath.-</strong>
            </div>
        </div>

    </div>
</div>