<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <br>
        <center>
            <h1>Sign Up</h1>
        </center>
        <br> {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages }}
            <p>{{ this }}</p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control" autofocus placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" maxlength="8" placeholder="EXample@#_123">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <br>
            <center>
                <button type="submit" class="form-control btn btn-primary">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</button>
            </center>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
</div>