.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

#myFooter {
    background-color: #3a3f46;
    color: white;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #7f7f7f;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
 }

 #myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

 #myFooter a:hover,
 #myFooter a:focus {
     text-decoration: none;
     color: white;
 }

 #map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.slide {
    height: 340px;
    background-image:url('/images/field175959_1920.png');
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    color: #333333; font-family: 'Helvetica Neue', sans-serif; font-size: 8vw; font-weight: bold; letter-spacing: -1px;
    flex-wrap: wrap;
    font-size: 80px;
  }
