<center>
    <h1>Welcome to {{title}}</h1>
    <p>Welcome to {{title}}</p>
</center>
<br>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="http://media.moddb.com/images/articles/1/233/232591/15050686003a28e6e6df64dad07606fb.jpg" alt="gothic game">
            <div class="caption">
                <center>
                    <h3>Gothic (video game)</h3>
                </center>
                <p class="description">The new astonishing version Chronicles of Myrtana is finally out. The GothicTW Team wishes you a very nice
                    experience with the new 2.1 version!</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>1200 bath.-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="http://media.moddb.com/images/articles/1/233/232591/15050686003a28e6e6df64dad07606fb.jpg" alt="gothic game">
            <div class="caption">
                <center>
                    <h3>Gothic (video game)</h3>
                </center>
                <p class="description">The new astonishing version Chronicles of Myrtana is finally out. The GothicTW Team wishes you a very nice
                    experience with the new 2.1 version!</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>1200 bath.-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="http://media.moddb.com/images/articles/1/233/232591/15050686003a28e6e6df64dad07606fb.jpg" alt="gothic game">
            <div class="caption">
                <center>
                    <h3>Gothic (video game)</h3>
                </center>
                <p class="description">The new astonishing version Chronicles of Myrtana is finally out. The GothicTW Team wishes you a very nice
                    experience with the new 2.1 version!</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>1200 bath.-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="http://media.moddb.com/images/articles/1/233/232591/15050686003a28e6e6df64dad07606fb.jpg" alt="gothic game">
            <div class="caption">
                <center>
                    <h3>Gothic (video game)</h3>
                </center>
                <p class="description">The new astonishing version Chronicles of Myrtana is finally out. The GothicTW Team wishes you a very nice
                    experience with the new 2.1 version!</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>1200 bath.-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="http://media.moddb.com/images/articles/1/233/232591/15050686003a28e6e6df64dad07606fb.jpg" alt="gothic game">
            <div class="caption">
                <center>
                    <h3>Gothic (video game)</h3>
                </center>
                <p class="description">The new astonishing version Chronicles of Myrtana is finally out. The GothicTW Team wishes you a very nice
                    experience with the new 2.1 version!</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>1200 bath.-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <p></p>
            <img src="http://media.moddb.com/images/articles/1/233/232591/15050686003a28e6e6df64dad07606fb.jpg" alt="gothic game">
            <div class="caption">
                <center>
                    <h3>Gothic (video game)</h3>
                </center>
                <p class="description">The new astonishing version Chronicles of Myrtana is finally out. The GothicTW Team wishes you a very nice
                    experience with the new 2.1 version!</p>
                <div class="clearfix">
                    <div class="price pull-left">
                        <p></p>1200 bath.-</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="myFooter">
    <div class="second-bar">
        <div class="container">
            <h2 class="logo">
                <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Ei-Ji Shopping</a>
            </h2>
            <div class="social-icons">
                <a href="#" class="twitter">
                    <i class="fa fa-github-alt"></i>
                </a>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
            <iframe id="map-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.002871464434!2d98.34988941267238!3d7.894767007898271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3050303528303419%3A0x43ed556e96eb7eb8!2sFaculty+of+Technology+and+Environment!5e0!3m2!1sen!2sth!4v1508085336951"
                width="1200" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="footer-copyright">
        <p style="color: white;" class="m-0 text-center text-white">
            &copy; 2017 Copyright Ei-Ji Shopping Developed by
            <a style="color: aqua;" target="_blank" href="https://web.facebook.com/JIch01beer" target="_blank">
                <b>Jirayu Chinnawong
                    <b>
            </a>
        </p>
    </div>
</footer>